{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="login">
        <div class="row m-5 justify-content-center ">
            <div class="col-6 border rounded bg-success-subtle p-3 g-0">                
                <h2>User Details</h2>
                <p>Username: {{ user.username }}</p>
                <p>First Name: {{ user.first_name }}</p>
                <p>Last Nname: {{ user.last_name }}</p>
                <p>Email: {{ user.email }}</p>
                <!-- Add more user details as needed -->
                    <h4>Credits</h4>
                    {% if credits %}
                        <ul>
                            {% for credit_obj in credits %}
                                <li>Total Credits: {{ credit_obj.credit }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No credits available.</p>
                    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}